body {
    background: #ED6906;
    color: #FFF;
    padding-bottom: 10px;
}

div {
    text-align: center;
}

h1, h2 {
    font-weight: 300;
}

.logo-container {
    padding-top: 50px;
}
.goToEdgeBtn {
    display: none;
    border: none;
    font-size: 15px;
    background: transparent;
    text-align: center;
    margin: 5px auto 0 auto;
}
.link-container {
    background: rgba(255, 255, 255, .3);
    border-radius: 10px;
    margin: 50px 20px 0 20px;
    vertical-align: top;

    display: inline-block;
    transition: all 0.1s ease;
    height: 345px;
}

.link-container:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.6);
}

.link-container img {
    width: 235px;
    margin-top: 10px;
}

.ta-right {
    text-align: right;
}

.ta-left {
    text-align: left;
}

.nexenta-logo {
    width: 333px;
}

.openstack-logo {
    margin-left: 10px;
}

.docker-logo {
    margin-bottom: 51px;
}

img.vmware-logo {
    margin: 35px 0;
}

.link-container a {
    padding: 10px 30px;
    display: inline-block;
}

a, a:visited, a:hover, a:active, a:focus {
    color: #FFF;
}

.technology h2 {
    margin-bottom: 0;
}
.technology h2 img {
    width: 40px;
}
.technology ul {
    list-style: none;
    padding-left: 47px;
    margin-top: 5px;
    text-align: left;
}
.technology ul li{
    list-style: none;
    padding: 3px 0;
}
.technology a, .technology a:focus{
    border-bottom: 1px dotted #FFF;
    text-decoration: none;
}

.technology a:hover {
    text-decoration: none;
    border-bottom: none;
    display: inline-block;
    transform: scale(1.1);
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-title {
    background: rgba(255,255,255,0.3);
    border-radius: 5px;
    padding: 10px;
    height: 74px;
}

.product-title img {
    width: 50px;
}

@media (max-width: 768px) {
    .link-container img {
        width: 210px;
    }

    .goToEdgeBtn {
        display: block;
    }

    .link-container {
        height: auto;
        margin: 10px 0;
    }
    
    .nexenta-logo {
        width: 285px;
    }
    .docker-logo {
        margin-bottom: 0;
    }
    
    .openstack-logo {
        margin: 0;
    }

    .ta-right, .ta-left {
        text-align: center;
    }

    .technology ul {
        padding-left: 0
    }
}
