{% extends "layout.html" %}

{% block content %}
<section class="band band-first">
    <section class="container">
        <section class="description">
            <section>
                <h1>NexentaEdge</h1>
                <p>Fast, feature rich and easy to use File, Block and Object storage for your Cloud-Native Applications</p>
            </section>
            <section class="screenshot">
                <img src="/resources/images/screenshot-nexentaedge-2.1.3-500.png">
            </section>
        </section>
        <section class="action">
            <a href="https://nexentaedge.io">More Info</a>
        </section>
    </section>
</section>
<section class="band band-second">
    <section class="container">
        <section class="description">
            <section>
                <h1>Docker & K8s Drivers</h1>
                <p>...</p>
            </section>
            <section class="image">
                <img src="/resources/images/logo-docker.svg">
                <img src="/resources/images/logo-kubernetes.svg">
            </section>
        </section>
        <section class="action">
            <a href="/docker/">More Info</a>
        </section>
    </section>
</section>
<section class="band band-third">
    <section class="container">
        <section class="description">
            <section>
                <h1>Nexenta OpenStack Drivers</h1>
                <p>...</p>
            </section>
            <section class="image">
                <img class="big" src="/resources/images/logo-openstack.png">
            </section>
        </section>
        <section class="action">
            <a href="/openstack/">More Info</a>
        </section>
    </section>
</section>
{% endblock %}
