{% extends "layout.html" %}

{% block content %}
<section class="band band-first">
    <section class="container">
        <section class="description">
            <!--<h1 class="nexentastor" style="margin-bottom: 20px">NexentaStor Drivers for OpenStack</h1>-->
            <h1 style="margin-bottom: 20px">OpenStack Drivers</h1>
            <img src="/resources/images/logo-openstack.png" style="height: 70px">
        </section>
    </section>
</section>
<section class="band band-forth">
    <section class="container">
        <h2>Cinder</h2>
        <br/>
        <table>
            <thead>
                <tr>
                    <th style="width: 20%">OpenStack Release</th>
                    <th style="width: 20%">Download</th>
                    <th>Documentation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Queens</td>
                    <td>
                        <a href="https://github.com/Nexenta/cinder/tree/stable/queens/cinder/volume/drivers/nexenta">Github</a>
                    </td>
                    <td>
                        <a href="https://docs.openstack.org/cinder/queens/configuration/block-storage/drivers/nexentastor4-driver.html">NexentaStor 4.x</a>,
                        <a href="https://docs.openstack.org/cinder/queens/configuration/block-storage/drivers/nexentastor5-driver.html">NexentaStor 5.x</a>
                    </td>
                </tr>
                <tr>
                    <td>Pike</td>
                    <td>
                        <a href="https://github.com/Nexenta/cinder/tree/stable/pike/cinder/volume/drivers/nexenta">Github</a>
                    </td>
                    <td>
                        <a href="https://docs.openstack.org/cinder/pike/configuration/block-storage/drivers/nexentastor4-driver.html">NexentaStor 4.x</a>
                        <a href="https://docs.openstack.org/cinder/pike/configuration/block-storage/drivers/nexentastor5-driver.html">NexentaStor 5.x</a>
                        <a href="https://docs.openstack.org/cinder/pike/configuration/block-storage/drivers/nexentaedge-driver.html">NexentaEdge 2.x</a>
                    </td>
                </tr>
                <tr>
                    <td>Ocata</td>
                    <td>
                        <a href="https://github.com/Nexenta/cinder/tree/stable/ocata/cinder/volume/drivers/nexenta">Github</a>
                    </td>
                    <td>
                        <a href="https://docs.openstack.org/ocata/config-reference/block-storage/drivers/nexentastor4-driver.html">NexentaStor 4.x</a>
                        <a href="https://docs.openstack.org/ocata/config-reference/block-storage/drivers/nexentastor5-driver.html">NexentaStor 5.x</a>
                        <a href="https://docs.openstack.org/ocata/config-reference/block-storage/drivers/nexentaedge-driver.html">NexentaEdge 2.x</a>
                    </td>
                </tr>
                <tr>
                    <td>Newton</td>
                    <td>
                        <a href="https://github.com/Nexenta/cinder/tree/stable/newton/cinder/volume/drivers/nexenta">Github</a>
                    </td>
                    <td>
                        <a href="https://docs.openstack.org/newton/config-reference/block-storage/drivers/nexentastor4-driver.html">NexentaStor 4.x</a>,
                        <a href="https://docs.openstack.org/newton/config-reference/block-storage/drivers/nexentastor5-driver.html">NexentaStor 5.x</a>,
                        <a href="https://docs.openstack.org/newton/config-reference/block-storage/drivers/nexentaedge-driver.html">NexentaEdge 2.x</a>
                    </td>
                </tr>
                <tr>
                    <td>Mitaka</td>
                    <td>
                        <a href="https://github.com/Nexenta/cinder/tree/stable/mitaka/cinder/volume/drivers/nexenta">Github</a>
                    </td>
                    <td>
                        <a href="https://docs.openstack.org/mitaka/config-reference/block-storage/drivers/nexentastor4-driver.html">NexentaStor 4.x</a>,
                        <a href="https://docs.openstack.org/mitaka/config-reference/block-storage/drivers/nexentastor5-driver.html">NexentaStor 5.x</a>,
                        <a href="https://docs.openstack.org/mitaka/config-reference/block-storage/drivers/nexentaedge-driver.html">NexentaEdge 2.x</a>
                    </td>
                </tr>
                <tr>
                    <td>Liberty</td>
                    <td>
                        <a href="https://github.com/Nexenta/cinder/tree/stable/liberty/cinder/volume/drivers/nexenta">Github</a>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Kilo</td>
                    <td>
                        <a href="https://github.com/Nexenta/cinder/tree/stable/kilo/cinder/volume/drivers/nexenta">Github</a>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Juno</td>
                    <td>
                        <a href="https://github.com/Nexenta/cinder/tree/stable/juno/cinder/volume/drivers/nexenta">Github</a>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </section>
</section>
<section class="band band-third">
    <section class="container">
        <h2>Manila</h2>
        <br/>
        <table>
            <thead>
                <tr>
                    <th style="width: 20%">OpenStack Release</th>
                    <th style="width: 20%">Download</th>
                    <!--<th>Documentation</th>-->
                </tr>
            </thead>
            <tbody>
              <tr>
                <td>Liberty</td>
                <td>
                    <a href="https://github.com/Nexenta/manila/tree/stable/liberty/manila/share/drivers/nexenta">Github</a>
                </td>
              </tr>
              <tr>
                <td>Newton</td>
                <td>
                    <a href="https://github.com/Nexenta/manila/tree/stable/newton/manila/share/drivers/nexenta">Github</a>
                </td>
              </tr>
              <tr>
                <td>Mitaka</td>
                <td>
                    <a href="https://github.com/Nexenta/manila/tree/stable/mitaka/manila/share/drivers/nexenta">Github</a>
                </td>
              </tr>
            </tbody>
        </table>
    </section>
</section>
<section class="band band-second">
    <section class="container">
        <section class="description">
            <section>
                <h2>Best Practice Guide</h2>
                <p style="padding-right: 30px">
                  Best Practice Guide for configuring Cinder and Manila drivers for NexentaStor and NexentaEdge
                </p>
            </section>
            <section class="action">
                <a href="/openstack-docs/">Best Practice Guide</a>
            </section>
        </section>
    </section>
</section>
{% endblock %}
